# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pdb

# C extensions
*.so

# Virtual environment directories
venv/
.env/
.venv/
ENV/
env/
env.bak/

# pip and setuptools
*.egg
*.egg-info/
dist/
build/
*.wheel

# SQLite database
blog.db
